
1 需要我完成对球体模型和颜色的判断
2 在电控发送findball信号的时候我需要进行识别加筛选最近球 然后通过写好的串口传送角度和距离
3 在电控发送cheakball的时候我需要检查球是否合理，第一次只能是目标球，然后黄色只能是一个不能一起拿
4 关于树莓派的参数配置和hsv的调整
5 测试串口
6 测试场地的长度和宽度
7 到球的距离计算焦距
8 剩下筛选颜色的逻辑优化，这个调小车的时候再弄
